{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["@myleslinder/eslint-config/react"],
  "rules": {
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/consistent-type-imports": 1,
    "react/react-in-jsx-scope": 0,
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1,
    "no-console": 0
  }
}
